<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
      <add key="token" value="9c3f1e971b5b4f3ae5feea311ef443e5" />
      <add key="resultsUrl" value="https://prijave.sdmalaerpenja.hr/api/v2/rc/1/result" />
    </appSettings>
</configuration>